<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRPotter</title>
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="d2pwb47r49781h.cloudfront.net/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-family:'Harry P'; font-size:xx-large">HRPotter</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    @if (User.Identity.IsAuthenticated && HRPotterUser != null)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            @if (HRPotterUser.Role == "User" || HRPotterUser.Role == "HR")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="JobOffers" asp-action="Index">Job offers</a>
                                </li>
                            }
                            @if (HRPotterUser.Role == "User" || HRPotterUser.Role == "Admin")
                            {
                                var keyword = HRPotterUser.Role == "User" ? "Your applications" : "Applications";
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="JobApplications" asp-action="Index">@keyword</a>
                                </li>
                            }
                            @if (HRPotterUser.Role == "Admin")
                            {

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Companies" asp-action="Index">Companies</a>
                                </li>
                            }
                            @if (HRPotterUser.Role == "Admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <i class="fas fa-bolt"></i> 2019 - HRPotter
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/knockout/knockout-min.js"></script>
    <script src="d2pwb47r49781h.cloudfront.net/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
