@model HRPotter.Models.JobApplicationModel

@{
    ViewData["Title"] = "Apply";
}

<h1>View</h1>

<h4>Job Application Model</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="JobApplication">
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">

                </div>
                <button type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to jobs list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
