@model HRPotter.Models.JobOfferCreateView

@{
    ViewData["Title"] = "Create";
}

<h4> Add new job offer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="JobOfferForm" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label"></label>
                <input asp-for="JobTitle" class="form-control" />
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"> Company </label>
                <select asp-for="CompanyId" class="form-control"
                        asp-items="@(new SelectList(Model.Companies, "Id", "Name"))">
                    <option selected="selected" value="0">Please select company</option>
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Salary range</label>
                <div class="form-row">
                    <div class="col">
                        <input asp-for="SalaryFrom" class="form-control" />
                    </div>
                    -
                    <div class="col">
                        <input asp-for="SalaryTo" class="form-control" />
                    </div>
                </div>
                <span id="SalaryRange-Error" class="text-danger"></span>
                <span asp-validation-for="SalaryFrom" class="text-danger"></span>
                <span asp-validation-for="SalaryTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidUntil" class="control-label"> Expiration date </label>
                <input asp-for="ValidUntil" class="form-control" />
                <span id="PastDate-Error" class="text-danger"></span>
                <span asp-validation-for="ValidUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexHR" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/offers-validation.js"></script>
}
